{% comment %}
  Aayu Pain - Branded Navigation Dropdown Menu
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    <li>
      <a href="/" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/collections/all" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Shop Pain Oils</span>
      </a>
    </li>
    <li>
      <a href="/#ingredients" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>48+ Ayurvedic Herbs</span>
      </a>
    </li>
    <li>
      <a href="/#application" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>3-Step Relief Guide</span>
      </a>
    </li>
    <li>
      <a href="/#reviews" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Patient Reviews</span>
      </a>
    </li>
    <li>
      <a href="/#faq" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>FAQs</span>
      </a>
    </li>
    <li>
      <a href="/pages/contact" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Contact & COD Support</span>
      </a>
    </li>
  </ul>
</nav>
